<div class = "banner">
    <div class = "highlighter">
    <div class="navbar">
        <div class = "navbar">
          <!--img src = "logo.jpg" class = "logo"-->
          <ul>
            <li><a href = "#menu">Menu</a></li>
            <li><a href = "#profile">Profile</a></li>
            <li><a href = "#logout">Log Out</a></li>
            <li><button>🌙</button></li>
          </ul>
        </div>
    </div>
    </div>

    <!--button (click)=initMods()>init</button-->



<div class = "heading">
    <h1>S T A R S + + </h1>
</div>
<div class = "options">
    <div class="button">
        <button (click)="routeToPlan()" >Plan Timetable</button></div>
    <div class="button">
        <button (click)="routeToAddDrop()" >Add/Drop</button>
    </div>
    <div class="button">
        <button (click)="routeToChangeIndex()" >Change Index</button>
    </div>
</div>
<div class = "secondoptions">
    <div class="button">
        <button (click)="routeToCourseInfo()" >Course Information</button>
    </div>
    <div class="button">
        <button (click)="routeToTimetable()" >View Timetable</button>
    </div>
    <div class="button">
        <button (click)="routeToHelp()" >Degree Audit</button>
    </div>
</div>
</div>

<router-outlet></router-outlet>











<!--h1>STARS++ Home Page</h1>
<div><button (click)="routeToPlan()" >Plan Timetable</button></div>
<div>
<button (click)="routeToAddDrop()" >Add/Drop</button>
</div>
<div>
<button (click)="routeToChangeIndex()" >Change Index</button>
</div>
<div>
<button (click)="routeToCourseInfo()" >Course Information</button>
</div>
<div>
<button (click)="routeToTimetable()" >View Timetable</button>
</div>
<div>
<button (click)="routeToHelp()" >Help</button>
</div-->